<!-- <form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>

    <label for="birthday">Date:</label>
    <input type="date">
    <br>
    <br>

    <input type="submit" value="submit">
</form> -->


<div class="container">
    <mat-form-field class="textBox">
      <input matInput placeholder="First Name"  id = "firstName" [(ngModel)] = "newCustomer.firstNameInput" >
    </mat-form-field>
    <mat-form-field class="textBox">
      <input matInput placeholder="Last Name" id = "lastName" [(ngModel)] = "newCustomer.lastNameInput" >
    </mat-form-field>
    <mat-form-field class="textBox">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)] = "newCustomer.date">
      <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div class="container">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button><br>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
</div>
<div class="buttonContainer">
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;
  <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
</div>

<div class = "live">
{{newCustomer.firstNameInput}}
{{newCustomer.lastNameInput}}
{{newCustomer.date}}
</div>

<p>{{firstname}}</p>
<p>{{lastname}}</p>
<p>{{date}}</p>