<!-- <form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>

    <label for="birthday">Date:</label>
    <input type="date">
    <br>
    <input type="submit" value="submit">
</form> -->


<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
        <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </form>


  <button mat-raised-button color="primary">Submit</button>
</div>