/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.topbar {
    background-color: navy;
    color: white;
}
.container {
    padding-left: 30px;
    padding-right: 30px;

}
.buttonContainer {
    padding: 20px;;
}
.textBox {
    width: 100%;
}
.live{
    font-weight: 500;
    color: navy;
    padding: 30px;
}